@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	border: none;
	font-family: inherit;
}

.contenedor-body {
	width: 100%;
	height: 100%;
	display: flex;
}

.formulario {
	padding-top: 5%;
	padding-left: 1%;
	padding-right: 1%;
	width: 30%;
	height: 100%;
}

.lista {
	border-left: 1px solid #4f4f4f;
	width: 70%;
	height: 100%;
	padding-left: 2%;
	padding-right: 3%;
}

th {
	background-color: black;
	color: white;
}

.btns {
    padding: 6px;
    background-color: black;
    width: 100%; /* Ancho completo en pantallas pequeñas */
    max-width: 300px; /* Limita el ancho máximo */
    color: white;
    text-decoration: none;
    transition: all 300ms;
}

@media (min-width: 768px) {
    .btns {
        width: 50%; /* Ancho al 50% en pantallas medianas y más grandes */
    }
}

.btns:hover {
	transform: scale(1.01);
	transition: all 300ms;
	border-radius: 3px;
}

.icondelete {
	color: #ff5e5e;
	background-color: white;
}

.icondelete:hover {
	color: red;
}