@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	border: none;
	font-family: inherit;
}

.contenedor-body {
	width: 100%;
	height: 100%;
	display: flex;
}

.formulario {
	padding-top: 2%;
	padding-left: 1%;
	padding-right: 1%;
	width: 40%;
	height: 100%;
}

.lista {
	border-left: 1px solid #4f4f4f;
	width: 60%;
	height: 100%;
	padding-left: 2%;
	padding-right: 3%;
}

.formulario-venta {
	width: 80%;
	margin: 20px auto;
}

.producto{
	display: flex;
	justify-content: space-between;
}

.lista-venta {
	width: 100%;
}


.btns {
	padding: 6px;
	background-color: black;
	width: 300px;
	color: white;
	text-decoration: none;
	transition: all 300ms;
}

.btns:hover {
	transform: scale(1.01);
	transition: all 300ms;
	border-radius: 3px;
}

.icondelete {
	color: #ff5e5e;
	background-color: white;
	font-size: 20px;
}

.icondelete:hover {
	color: red;
}

.iconoinfo {
	font-size: 20px;
}