<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lista de Usuarios</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://kit.fontawesome.com/3d156103f9.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<link rel="stylesheet" type="text/css" href="/Custom_css/menu.css">
<link rel="stylesheet" type="text/css" href="/Custom_css/producto.css">
<script type="text/javascript" src="/Custom_js/alert.js"></script>
</head>
<body th:data-success-message="${successMessage ?: ''}" th:data-error-message="${errorMessage ?: ''}">

	<div class="contenedor-general">
		<div class="menu">
		
		     <div class="logo">
				<img alt="" src="/img/shoop.jpg">
			</div> 
			
			<ul>
				<li><a th:href="@{/categorias}"><i class="fa-solid fa-list me-2"></i>Categorias</a></li>
				<li><a th:href="@{/productos}"><i class="fa-solid fa-database me-2"></i>Productos</a></li>
				<li><a th:href="@{/roles}"><i class="fa-solid fa-list-check me-2"></i>Roles</a></li>
				<li><a th:href="@{/usuarios}"><i class="fa-solid fa-users me-2"></i>Usuarios</a></li>
				<li><a th:href="@{/ventas}"><i class="fa-solid fa-cart-shopping me-2"></i>Ventas</a></li>
			</ul>
			
			<div class="Logout">
			   <a class="btn ml-2" th:href="@{/logout}" role="button">Cerrar Sesión</a>
			</div>
		</div>

		<div class="body">

			<div class="contenedor-body">
				<div class="formulario ps-5">
					<div class="text-center mb-5">
						<h1 class="text-center" th:if="${usuario.getId_usuario() == null}">Registrar Usuario</h1>
						<h1 class="text-center" th:unless="${usuario.getId_usuario() == null}">Editar Usuario</h1>
					</div>

					<form th:action="@{/usuarios/guardar}" th:object="${usuario}" method="post">
						<input type="hidden" th:field="*{id_usuario}" />

						<div class="mb-3">
							<label class="form-label">Username:</label>
						    <input type="text" th:field="*{username}" class="form-control" />
						</div>

						<div class="mb-3">
							<label class="form-label">Email:</label>
						    <input type="email" th:field="*{email}" class="form-control" />
						</div>

						<div class="mb-3" th:if="${usuario.getId_usuario() == null}">
							<label class="form-label">Password:</label>
						    <input type="text" th:field="*{password}" class="form-control" />
						</div>

						<div class="mb-3">
							<label class="form-label">Rol:</label>
						    <select th:field="*{rol}" class="form-control">
						        <option value="" selected>Seleccione un rol</option>
								<option th:each="rol : ${roles}" th:value="${rol.getIdRol()}" th:text="${rol.getRol()}"></option>
							</select>
						</div>

						<div class="mb-3">
							<label class="form-label">Estado:</label>
						    <input type="checkbox" th:field="*{estado}" />
						</div>

						<div class="text-center">
							<button type="submit" class="btns">Guardar</button>
						</div>
					</form>
					
				</div>

				<div class="lista">
					<div class="p-4 pb-5 text-center">
						<h1>Formulario y lista de Usuarios</h1>
					</div>
					<div class=" pt-3 tex-center">
						<table class="table table-bordered text-center table-sm">
							<thead>
								<tr>
									<th style="background-color: black;color: white;">ID</th>
									<th style="background-color: black;color: white;">Username</th>
									<th style="background-color: black;color: white;">Email</th>
									<th style="background-color: black;color: white;">Rol</th>
									<th style="background-color: black;color: white;">Estado</th>
									<th style="background-color: black;color: white;">Fecha Creación</th>
									<th style="background-color: black;color: white;">Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="usuario : ${usuarios}">
									<td th:text="${usuario.getId_usuario()}"></td>
									<td th:text="${usuario.getUsername()}"></td>
									<td th:text="${usuario.email}"></td>
									<td th:text="${usuario.rol.getRol()}"></td>
									<td th:text="${usuario.estado ? 'Activo' : 'Inactivo'}"></td>
									<td
										th:text="${#temporals.format(usuario.fechaCreacion, 'dd/MM/yyyy')}"></td>
									<td> 
									   <a th:href="@{'/usuarios/editar' + '/' + ${usuario.getId_usuario()}}"><i class="fa-solid fa-pen-to-square"></i></a>
									    &nbsp;&nbsp; 
									<!--   <a th:href="@{'/usuarios/eliminar' + '/' + ${usuario.getId_usuario()}}"><i class="fa-solid fa-trash icondelete"></i></a>  -->
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
